@import '../../../scss/var';

.menu-top {
    display: flex;

    button {
        color: $font-light;
        position: absolute;
        top: calc(100% / 4);

        &:hover {
            color: $light-accent;
        }
        &:focus,
        &:active {
            color: $font-light;
        }
    }

    &__left {
        &-logo {
            width: 80px;
            padding: 0 10px;
        }
    }

    &__right {
        position: absolute;
        right: 0;
    }
    
}