@import '../../../scss/index.scss';

.login-form {
    
    .ant-form-item{
        margin-bottom: 15px !important;
    }

    &__input {
        .ant-input-prefix {
            font-size: 0em + 22px / $defaultFontSize;
        }

        input {
            font-size: 0em + 20px / $defaultFontSize;
        }
    }

    &__button {
        color: white;
        background: $font-accent;
        border-color: $dark-main-color;
        font-size: 0em + 22px / $defaultFontSize;
        width: 100%;
        height: 42px;
        &:hover {
            background: $hoverColor;
            border-color: white;
            color: white;
        }
    }

    .ant-input-affix-wrapper:focus, .ant-input-affix-wrapper:hover, .ant-input-affix-wrapper-focused {
        border-color: $font-accent !important;
        box-shadow: 0 0 0 2px rgba($color: $font-accent, $alpha: 0.2) ;
    }

    .ant-checkbox {
        &:hover {
            border-color: rgb(80, 107, 255);
        }
    }

    .ant-checkbox-checked .ant-checkbox-inner{
        background-color: #6074edff;
        border-color: rgb(80, 107, 255);
    }

}