$defaultFontSize: 16px;
$font-dark: #000;
$font-light: #fff;
$font-accent: #6074edff;
$hoverColor: #0c1969;

$bg-white: #ffffff;
$light-accent: #ccc25d;
$main-color: #9d9cab;
$dark-accent: #85858f;
$dark-shades: #3d3c47;

$bg-dark: #000;
$dark-main-color: #9d9cab;

$border-light: #fff;
$border-dark: #808080;

$bg-success: #84b84c1f;
$bg-error: #ff00001f;

$bg-darkMode: #16202b;

$success: #84b84c;
$error: #f00;


// Media Querys
// ....

$media-down-xs: 413.98px;
$media-down-sm: 573.95px;
$media-down-md: 767.98px;
$media-down-lg: 991.98px;
$media-down-sm: 1199.98px;

$media-up-xs: 320px;
$media-up-sm: 576px;
$media-up-md: 768px;
$media-up-lg: 992px;
$media-up-xl: 1200px;


