@import '../../../scss/index.scss';

.sign-in {
    background-image: url('../../../assets/imgs/png/background-v1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;

        &-logo {
            padding: 60px 20px;
            img {
                width: 100%;
            }
        }
        &-tabs {
            background-color: $bg-white;
            @media (max-width: $media-up-sm) {
                    width: 100%;
            }
            @media (min-width: $media-up-md) {
                width: 500px;
            }
            .ant-tabs {
                width: 100%;
                &-nav {
                    &-wrap {
                        justify-content: space-evenly;
                    }
                    &-list {
                        width: 100%;
                    }
                }
            }
            .ant-tabs-tab {
                width: 100%;
                height: 60px;
                text-align: center !important;
                font-size: 0em + 19px / $defaultFontSize;
                border-top: 4px solid $border-dark !important;
                border-radius: 0px !important;
                margin: 0 !important;
                justify-content: center !important;
                
                @media (min-width: $media-up-lg) {
                    font-size: 0em + 23px / $defaultFontSize;
                }

                &:hover {
                    color: $dark-shades;
                }
                &::before {
                    content: none;
                }
            }

            .ant-tabs-tab-active {
                border-top: 4px solid $font-accent !important;
                span {
                    color: $font-accent;
                }
            }

            .ant-tabs-content-holder {
                padding: 0 16px 16px 16px;
                text-align: center;
            }
        }
    }
}