.menu-list {
    &__header{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        justify-content: space-between;

        .ant-select {
            min-width: 200px;
        }
                    
        &-items {
            .text{
                margin-right: 5px;
            }
            .link{
                margin-left: 5px;
            }
        }
    }

    &__items {
        .List{
            position: relative;
            
            .draggable {
                touch-action: none;
                width: 100%;
                background-color: #fff;
                padding: 10px 20px;
                margin-bottom: 10px;

                &:hover{
                    cursor: pointer;
                }

                &.dragged {
                    border: 1px solid #e2e2e2;
                    padding: 0px 10px;
                }
            }

        }

        .ant-list-item-meta {
            display: flex;
            align-items: center;

            &-description {
                .details{
                    display: block;
                    .url, .cssClass, .anchorId{
                        margin: 0 35px 0 3px;
                    }
                }
            }
        }
    }
}